name: C++ Build CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install compiler
        run: sudo apt-get update && sudo apt-get install -y g++

      - name: Build project
        run: g++ src/array.cpp src/bst.cpp src/linkedlist.cpp src/main.cpp src/queue.cpp src/stack.cpp -o toolkit.exe
